<app-store-layout>
  <div class="p-4 space-y-4 flex flex-col">
    <h1 class="text-2xl font-medium">Meu Carrinho</h1>
    <p-panel [toggleable]="true">
      <ng-template #header>
        <span class="font-bold">Atenção!</span>
      </ng-template>
      <ng-template #icons>
        <p-menu #menu id="config_menu" [popup]="true" />
      </ng-template>
      <p class="m-0 text-balance hyphens-auto">
        Após realizar alterações em seu pedido (Aumentar ou decrementar a
        quantidade de um produto, excluir...), clique em "Salvar Alterações"
        para que seu pedido seja salvo.
      </p>
    </p-panel>
    <p-panel>
      <ng-template #header>
        <h2 class="text-xl font-medium">Resumo do Pedido</h2>
      </ng-template>
      <div class="flex items-center justify-between">
        <span class="text-lg">Total:</span>
        <h3 class="text-2xl font-semibold">{{ total | currencyBr }}</h3>
      </div>
      <ng-template #footer>
        <div class="flex flex-col space-y-2">
          <p-button
            (onClick)="saveOrder()"
            severity="secondary"
            class="btn-cart w-full"
            label="Salvar Pedido"
          />
          <p-button
            class="btn-cart w-full"
            label="Finalizar Pedido ({{ order.items.length }})"
          />
        </div>
      </ng-template>
    </p-panel>
    <div class="border border-[--my-content-border-color] p-2 rounded-md">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <p-checkbox
            class="grid place-items-center"
            inputId="ingredient1"
            name="pizza"
            value="Cheese"
          />
          <label for="ingredient1" class="ml-2"> Selecionar Tudo </label>
        </div>
        <p-button label="Excluir" />
      </div>
    </div>
    <p-panel *ngFor="let item of order.items; index as i">
      <ng-template #header>
        <div class="flex items-center justify-between w-full">
          <h3 class="text-lg font-semibold truncate w-3/5">
            {{ item.product.title }}
          </h3>
          <div class="flex items-center gap-2">
            <p-button
              icon="pi pi-share-alt"
              [rounded]="true"
              severity="secondary"
              [outlined]="true"
            />
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              severity="secondary"
              [outlined]="true"
            />
          </div>
        </div>
      </ng-template>
      <div class="flex items-center justify-between">
        <img
          class="w-32 h-24 object-contain"
          [src]="item.product.imgUrl"
          alt=""
        />
        <div class="flex flex-col items-end space-y-1">
          <div class="flex items-end gap-2 -mb-3">
            <span>Unidade:</span>
            <h3 class="text-base">
              {{ item.product.price | currencyBr }}
            </h3>
          </div>
          <div class="flex items-end gap-2">
            <span>Subtotal:</span>
            <h3 class="text-xl font-semibold">
              {{ getSubTotal(i) | currencyBr }}
            </h3>
          </div>
          <div
            class="grid grid-cols-3 place-items-center border rounded-md w-32"
          >
            <p-button
              (onClick)="incriaseItem(item.product)"
              icon="pi pi-plus"
              [text]="true"
              [outlined]="false"
            />
            <span class="w-1/3 text-center">{{ getQuantity(i) }}</span>
            <p-button
              (onClick)="decrementFromCart(item, i)"
              icon="pi pi-minus"
              [text]="true"
              [outlined]="false"
            />
          </div>
          <!-- <p-inputnumber
            [(ngModel)]="item.quantity"
            [showButtons]="true"
            buttonLayout="horizontal"
            spinnerMode="horizontal"
            inputId="horizontal"
            (onClick)="asd($event)"
            [inputStyle]="{ width: '2.5rem' }"
          >
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber> -->
        </div>
      </div>
    </p-panel>
  </div>
</app-store-layout>
