/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --primary: #6366f1;
  --primary-90: rgb(99, 102, 241, 90%);
  --primary-75: rgb(99, 102, 241, 75%);
  --primary-50: rgb(99, 102, 241, 50%);
  --primary-20: rgb(99, 102, 241, 20%);
  --primary-10: rgb(99, 102, 241, 10%);
  --primary-5: rgb(99, 102, 241, 5%);
  --red: rgb(239 68 68 / 1);
  --red-90: rgb(239 68 68 / 90%);
  --muted: rgb(203 213 225);
  --secondary: rgb(71 85 105 / 75%);
  --box-shadow: #d9ddfc9f;
}

body {
  font-family: "Baloo Bhaijaan 2", serif;
}

.p-menu-list {
  margin: 0;
  margin-top: -2px;
  padding: var(--my-menu-list-padding);
  padding-top: 0;
  outline: 0 none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--my-menu-list-gap);
}

.p-breadcrumb-item-label {
  margin-bottom: -3px;
}
