<div class="min-h-screen pt-[90px]">
  <p-toolbar class="fixed top-0 w-full z-50 h-[90px] drop-shadow-sm">
    <ng-template #start>
      <p-button
        icon="pi pi-bars text-xl"
        variant="text"
        styleClass="h-12 w-12"
        (onClick)="toggleDrawer($event)"
      />
    </ng-template>
    <ng-template #center>
      <div
        [routerLink]="['/']"
        class="flex cursor-pointer items-center text-3xl px-4 h-16 font-semibold"
      >
        <span class="text-[--primary]">Dear</span>
        <span class="text-slate-400">livery</span>
      </div>
    </ng-template>
    <ng-template #end>
      <p-button
        *ngIf="user"
        routerLink="/my-cart"
        severity="secondary"
        [text]="true"
      >
        <i
          class="pi pi-cart-arrow-down text-2xl"
          pBadge
          [value]="cartItems"
        ></i>
      </p-button>
    </ng-template>
  </p-toolbar>
  <app-auth-dialog
    (closeDialog)="closeDialog()"
    [authDialogVisible]="authDialogVisible"
  />
  <app-store-drawer
    [drawerVisible]="drawerVisible"
    [categories]="categories"
    (toggleDrawer)="toggleDrawer($event)"
    (showAuthDialog)="showAuthDialog()"
  />

  <ng-content />
</div>
