<div class="min-h-screen pt-20">
  <p-toolbar class="fixed top-0 w-full z-50 h-20 drop-shadow-sm">
    <ng-template #start>
      <p-button
        icon="pi pi-bars text-xl"
        severity="secondary"
        class="p-1"
        (onClick)="toggleDrawer($event)"
        [outlined]="true"
      />
    </ng-template>
    <ng-template #center>
      <div class="flex items-center text-3xl px-4 h-16 font-semibold">
        <span class="text-[--primary]">Dear</span>
        <span class="text-slate-400">livery</span>
      </div>
    </ng-template>
    <ng-template #end>
      <p-button severity="secondary" [text]="true">
        <i class="pi pi-cart-arrow-down text-2xl" pBadge value="2"></i>
      </p-button>
    </ng-template>
  </p-toolbar>
  <app-store-drawer
    (toggleDrawer)="toggleDrawer($event)"
    [visible]="visible"
    [categories]="categories"
  />
  <ng-content />
</div>
