<app-admin-layout [breadcrumbs]="null">
  <div class="my-4 flex items-center justify-between">
    <div>
      <h1 class="text-3xl leading-5 font-semibold opacity-80">
        Olá, Gabriel Dantas
      </h1>
      <p class="opacity-50">Acompanhe o desempenho do seu negócio aqui!</p>
    </div>
    <div
      class="flex items-center gap-2 bg-[--my-datatable-row-hover-background] rounded-md px-4 py-2"
    >
      <span>{{ date | todayTime }}</span>
      <i class="pi pi-calendar text-xl"></i>
    </div>
  </div>
  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
    <p-card
      *ngFor="let sum of summaryCards"
      class="md:col-span-2 lg:col-span-1 relative"
    >
      <ng-template #title>
        <div class="flex items-center justify-between">
          <h1 class="md:text-2xl">{{ sum.title }}</h1>
          <div class="h-full absolute right-5 top-0 grid place-items-center">
            <i class="pi {{ sum.icon }} md:text-5xl"></i>
          </div>
        </div>
      </ng-template>
      <div class="flex items-baseline gap-1">
        <p class="m-0 text-3xl">{{ sum.value }}</p>
        <span>{{ sum.label }}</span>
      </div>
    </p-card>
    <p-card class="col-span-4" header="Todos os Pedidos">
      <p-table
        #dt1
        *ngIf="orders$ | async as orders; else spinner"
        [value]="orders"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template #caption>
          <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Gerenciar Produtos</span>
            <div class="flex items-center gap-2">
              <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                  <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                  pInputText
                  type="text"
                  (input)="dt1.filterGlobal(getTargetValue($event), 'contains')"
                  placeholder="Buscar produto"
                />
              </p-iconfield>
              <p-button
                [routerLink]="['../products/product-form']"
                label="Novo"
                icon="pi pi-plus"
              />
            </div>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <th style="width: 25%">Cliente</th>
            <th style="width: 25%">Data</th>
            <th style="width: 25%">Status</th>
            <th style="width: 25%">Total</th>
          </tr>
        </ng-template>
        <ng-template #body let-order>
          <tr>
            <td>{{ order.client.name }}</td>
            <td>{{ order.moment | dateTime }}</td>
            <td>
              <span
                class="px-1.5 py-0.5 rounded-md flex items-center w-fit"
                [ngClass]="[
                  getOrderStatus(order.orderStatus).textColor,
                  getOrderStatus(order.orderStatus).bgColor
                ]"
              >
                {{ getOrderStatus(order.orderStatus).value }}
              </span>
            </td>
            <td>{{ order.total | currencyBr }}</td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template class="w-full" #spinner>
        <p-progress-spinner
          class="flex items-center w-full my-8"
          strokeWidth="8"
          fill="transparent"
          animationDuration=".5s"
          [style]="{ width: '50px', height: '50px' }"
        />
      </ng-template>
    </p-card>
  </div>
</app-admin-layout>
